<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-sample-iris-security.ZPM">
    <Module>
      <Name>dc-sample-iris-security</Name>
      <Version>0.0.1</Version>
      <Description></Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src/iris</SourcesRoot>
      <Resource Name="dc.sample.PKG"/>
    </Module>
  </Document>
</Export>